P{
    color: rgb(7, 4, 0);
    background-color:antiquewhite;
    text-align: center;
  } 
  H1{
    color: rgba(3, 2, 1, 0.929);
    background-color: orange;
    text-align: center;
  }
  form{
    align-tracks: center;
  }
  label{
    text-align: center;
  }